version: "3.9"

x-env: &default-env
  env_file: [../../.env]
  restart: always

services:
  # postgres:
  #   image: postgres:16-alpine
  #   <<: *default-env
  #   environment:
  #     POSTGRES_DB=${POSTGRES_DB}
  #     POSTGRES_USER=${POSTGRES_USER}
  #     POSTGRES_PASSWORD
  #   volumes:
  #     - pgdata:/var/lib/postgresql/data
  #     - pgbackups:/backups
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5 

  redis:
    image: redis:7-alpine
    <<: *default-env
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redisdata:/data

  bot:
    build: 
      context: ../..
      dockerfile: deploy/docker/Dockerfile.bot
    <<: *default-env
    depends_on:
      # - postgres
      - redis
    ports:
      - "8001:8000"
    # healthcheck:
    #   test: ["CMD", "wget", "-qO-", "http://localhost:8000/healthz"]
    #   interval: 10s
    #   timeout: 3s
    #   retries: 10

  worker:
    build:
      context: ../..
      dockerfile: deploy/docker/Dockerfile.worker
    <<: *default-env
    depends_on:
      # - postgres
      - redis
    ports:
      - "8002:8000"

volumes:
  # pgdata:
  # pgbackups:
  redisdata: